@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 670px;
    width: 1550px;
    background-image: url(./B10A1-Challenge-Begins-main/assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    
}
.headersec1{
    width: 1070px;
    height: 615px;
  display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.headerimg{
    height: 250px;
    width: 250px;
}
.headertitle{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
}
.headerpara{
    color:rgba(13, 19, 33, 1) ;
    opacity: 0.8;
    font-size:18px ;
    margin-top: 15px;
    text-align: center;
    
}
.contactBtn{
    height: 72px;
    width: 270px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(13, 19, 33, 1);
    color: white;
    border-radius: 7px;
    margin-top: 25px;
    font-family: "Azeret Mono", monospace;
}
.section-1{
    display: flex;
    justify-content: center;
}
.main-1{
    width: 1227px;
    height: 1499px;
    background-color: rgb(250, 250, 250);
    margin-top: 100px;
    padding: 100px;
    border-radius: 20px;
}
.main-title{
    text-align: center;
    font-size: 37px;
    font-weight: 900;

}
.main-para{
    text-align: center;
    margin-top: 25px;
    color:rgba(13, 19, 33, 1) ;
    opacity: 0.8;
    font-size:20px ;
    margin-bottom: 60px;
}
.reason-1{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-between;
    background: linear-gradient(120deg,white,rgb(250, 250, 250));
    padding: 50px;
    border-radius: 20px;

}
.left{
    width: 507px;
    height: 236px;
     color:rgba(13, 19, 33, 1) ;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-h1{
    font-size: 28px;
    width: 400px;
}


.left-anchor{
    text-decoration: none;
    color:rgba(13, 19, 33, 1) ;
    opacity: 2;
    font-weight: 700;
    font-family: "Azeret Mono", monospace;
  
    
}
.leftBtn{
    width: 170px;
   font-size: 20px;
   padding: 10px;
   border: 2px solid black;
   opacity: 0.8;

}
.header-anchor{
    text-decoration: none;
    color: white;

}
.video{
    width: 1227px;
    height: 656px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
 align-self: center;
 
}
.video-src{
    display: flex;
    justify-content:center;
    align-items: center;
 align-self: center;
}
.youtube{
    height: 580px;
    width: 1150px;
    border-radius: 10px;
}
.main-para2{
    width: 1170px;
    text-align: center;
    margin-top: 25px;
    color:rgba(13, 19, 33, 1) ;
    opacity: 0.8;
    font-size:20px ;
    margin-bottom: 60px;
}
.main-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.linkup{
    display: flex;
    justify-content: space-between;
}
.footer-ul{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

li{
    text-decoration: none;
}